/* =========================
   　　　　共通設定
========================= */
body {
  background-image: url("img/background.png");
  max-width: 430px;
  margin: 0 auto;
}

p,
h2 {
  font-family: "source-han-serif-japanese", serif;
  color: #6c7235;
}

.fadein {
  opacity: 0;
  transform: translateY(30px);
  transition: all 1s;
}

.fadein.show {
  opacity: 1;
  transform: translateY(0);
}


.title {
  opacity: 0;
  transform: translateY(20px);
  transition: 1.2s;
  pointer-events: none;
}

.title.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  /* background-color: #6c7235; */
  background-color: white;
  transition: 1s;
}

.icon1 {
  font-family: "source-han-serif-japanese", serif;
  /*color: antiquewhite;*/
  color: #6c7235;
}

/* =========================
   アイコンとタイトル
========================= */
h1 {
  font-size: 88px;
  margin-bottom: 0;
  line-height: 1.2;
  transform: translateX(36px);
}

.icon2 {
  font-family: "source-han-serif-japanese", serif;
  color: #6c7235;
}

.icontitle {
  font-size: 16px;
  margin-top: 0;
  line-height: 1.2;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgtitle {
  width: 60%;
  margin-top: 30px;
}

.title-name {
  display: flex;
  gap: 40px;
  font-size: 12px;
  margin-bottom: 50px
}

/* =========================
   Greeting
========================= */
.greeting {
  padding: 50px 0;
  margin: 50px 0;
  display: flex;
  gap: 20px;
}

.imggreeting {
  width: 55%;
}

.profile-title {
  display: flex;
  align-items: center;
  gap: 1px;
}

.greeting-text {
  font-size: 18px;
  writing-mode: vertical-rl;
  text-orientation: upright;
}

/* =========================
   区切り
========================= */
.leaf-olive {
  display: flex;
  justify-content: center;
  align-items: center;
}

.olive {
  width: 25%;
}

.leaf-text {
  font-size: 35px;
  text-align: center;
  padding: 10px;
  color: black;
}

.leaf-images {
  display: block;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.3);
  width: 100%;
}

.images {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.leaf {
  padding: 0 10px 50px 10px;
  background-color: #dfebe3;
}


/* =========================
    Profile
========================= */
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.profile-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-title-text {
  font-size: 50px;
  font-weight: bold;
}

.imgprofile {
  width: 30%;
}

.line1 {
  position: relative;
  border-top: 2px solid#6c7235;
  width: 300px;
  margin: 40px 0;
}

.line1::before,
.line1::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: #6c7235;
  top: -5px;
}

.line1::before {
  left: 0;
}

.line1::after {
  right: 0;
}

.profile-name {
  display: flex;
  gap: 120px;
}

.imperial-script-regular,
.leaf-text {
  font-family: "Imperial Script", cursive;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

h2 {
  font-size: 20px;
  margin: 0;
}

.profile-takuya-text,
.profile-maho-text {
  font-size: 9px;
  margin: 0;
}

.groom-name,
.maho-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.profile-both {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 300px;
}

.text-both {
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  line-height: 2.6;
}

.text-both-center {
  font-size: 8px;
  text-align: center;
  line-height: 4;
}

.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 5px;
  background-color: #dfebe3;
}

.imgmessage {
  width: 30%;
}

.message-text {
  font-size: 15px;
  line-height: 0;
  font-weight: bold;
  padding: 10px 0;
  margin: 0;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-image {
  width: 80%;
  max-width: 400px;
}

/* =========================
   btn
========================= */
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
}

#about-family-btn,
#close-family {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;

  display: inline-block;
  padding: 12px 24px;
  border-radius: 999px;
  text-decoration: none;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  border: 1px solid #eee;

  cursor: pointer;
  transition: 0.2s;

  font-size: 20px;
  background-color: #4a787d;
  color: white;
}

/* =========================
   FAMILY CARD SECTION
========================= */

#about-family {
  display: none;
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;
  z-index: 9999;

  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

#about-family.show {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #4a787d;
  padding-bottom: 40px;
}

.imgfamily {
  width: 100%;
}

.luckiest-guy-regular {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
  color: #fff9e2;
}

.imgfamily {
  width: 80%;
  border-radius: 12px;
}

.nishioka-family,
.nakamura-family {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nishioka-name,
.nakamura-name {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #fff9e2;
  font-size: 20px;
  padding: 10px 0 0 0;
}

.nishioka-name-title,
.nakamura-name-title {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #4a787d;
  background-color: #fff9e2;
  border-radius: 12px;
  padding: 10px;
}

.nishioka-line,
.nakamura-line {
  width: 180px;
  height: 1px;
  background: #fff9e2;
}

.nishioka-family-img,
.nakamura-family-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  margin: 20px 20px 55px 20px;
}

.yoshifumi,
.akiko,
.maki,
.takuya,
.tsutomu,
.kaori,
.maho,
.matsuri {
  background-color: white;
  max-width: 140px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  border-radius: 12px;
}

.yoshifumi-text,
.akiko-text,
.maki-text,
.takuya-text,
.tsutomu-text,
.kaori-text,
.maho-text,
.matsuri-text {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  margin-top: 8px;
  color: #4a787d;
}

/* =========================
   life consept
========================= */
.life-consept {
  position: relative;
  padding-bottom: 50px;
  background-color: #dfebe3;
}
.our-thema{
  text-align: center;
  font-size: 17px;
  margin:0;
  padding:10px;
}

.life-img {
  width: 100%;
  display: block;
}

.life-section {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;

  display: flex;
  justify-content: space-between;
}

.life-takuya,
.life-maho {
  text-align: center;
  font-size: 12px;
  color: white;
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}

.life-maho {
  text-align: center;
  font-size: 14px;
  color: white;
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
  padding-top: 40px;
}

/* =========================
    LAST
========================= */
.last {
  display: flex;
  flex-direction: column;
}

.last-text {
  margin-top: 100px;
  margin-left: 40px;
}

.last-text-text {
  writing-mode: vertical-rl;
  letter-spacing: 0.8em;
  line-height: 2;
  font-size: 18px;
}

.last-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.last-img-img {
  width: 100%;
  margin: 30px;
}

.last-img-text {
  font-size: 45px;
  font-weight: bold;
  text-align: right;
  margin-top: 20px;
  margin-bottom: 80px;
}

.last-monts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.last-line {
  width: 180px;
  height: 1px;
  background: #6c7235;
  margin-right: 10%;
}

.last-monts-text {
  font-size: 18px;
  margin-right: 10%;
  margin-bottom: 30px;
}